spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/finograph
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

ai:
  gemini:
    api-key: AIzaSyBGKChCFsfFszInu3oEb-Yk_SMUqBuTPb4

